<div id="<%= dom_id room %>">
  <p>
    <strong>Name:</strong>
    <%= room.name %>
  </p>

  <p>
    <strong>Introduction:</strong>
    <%= room.introduction %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= room.price %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= room.address %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= room.icon %>
  </p>

</div>
